<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <title>RESTful APIs Example</title>
    <style type="text/css">
      body {
        max-width: 800px;
        margin: 0 auto;
        padding: 0 20px;
      }
    </style>
  </head>
  <body>
    <a href="https://github.com/sibtc/restful-apis-example"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
    <header>
      <h1 style="margin-bottom: 0">RESTful APIs Example</h1>
      <a href="{% url 'github' %}">github</a> /
    </header>
    <hr>
    {% block content %}
    {% endblock %}
    <hr>
    <footer>
      <a href="https://simpleisbetterthancomplex.com">© simpleisbetterthancomplex.com</a> /
      <a href="https://simpleisbetterthancomplex.com/tutorial/2018/02/03/how-to-use-restful-apis-with-django.html">read more about this example</a> /
      <a href="https://github.com/sibtc/restful-apis-example">github repository</a>
    </footer>
  </body>
</html>
